<h1 style="text-align: center;">Agent</h1>

<p>Agents players must find the Codename card(s) indicated by the Spymaster clue. At each turn, they must propose at least one Codename by selecting it.</p>
<ul>
    <li> If the selected Codename color's is your one, then you can try and guess another Codename.</li>
    <li> If the selected Codename color's is the one of the other team, then one of their tiles is placed over it and your turn ends.</li>
    <li> If the selected Codename is a Witness, a Witness tile is placed over it and your turn ends.</li>
    <li> If the selected Codename is an Assassin, the game is over and you lose!</li>
</ul>
<p style="font-style: italic">To select a Codename, the player must click on the corresponding card.</p>
