<h1 style="text-align: center;">Agent</h1>

<p>Les joueurs agents ont pour objectif de découvrir la ou les cartes Nom de Code désignées par l'indice du Maître-Espion. Chaque tour, ils doivent proposer au moins un Nom de Code en le sélectionnant.</p>
<ul>
    <li> Si le Nom de Code sélectionné est de votre couleur, alors vous pouvez essayer de deviner un autre Nom de Code.</li>
    <li> Si le Nom de Code sélectionné correspond à un Informateur de l'équipe adverse alors une tuile de leur couleur est placée sur celui-ci et votre tour se termine.</li>
    <li> Si le Nom de Code correspond à un Témoin, une tuile Témoin est placée et votre tour se termine.</li>
    <li> Si le Nom de Code correspond à un Assassin, le jeu se termine et vous perdez !</li>
</ul>
<p style="font-style: italic">Pour sélectionner un Nom de Code, le joueur doit cliquer sur la carte associée.</p>
