<h1 style="text-align: center;">Maître-Espion</h1>


<p>Le Maître-Espion a pour objectif de faire deviner tous les Noms de Codes de sa couleur aux agents de son équipe.</p>
<p>Pour faire deviner un Nom de Code, le Maître-Espion doit donner un <span>Indice</span> et un chiffre. Le chiffre indique le nombre de Noms de Codes à deviner avec cet indice.</p>

<p>Le choix de l'indice doit être pertinent. Il doit permettre à votre équipe de progresser le plus vite possible tout en restant loin de l'Assassin.</p>
<p>L'indice est composé d'un seul mot ! Une fois que vous l'avez validé, vous ne pouvez plus revenir en arrière !</p>

<p style="font-style: italic">L'indice doit être inscrit dans le champ "Indice" en bas à droite de la fenêtre puis être validé.</p>
