<h1 style="text-align: center;">Spy-master</h1>


<p>The Spymaster's goal is to make all Code Names of his color guess to the agents on his team.</p>
<p>To guess a Code Name, the Spymaster must give a clue and a number. The number indicates the number of Code Name to guess with this index.</p>