<h1 style="text-align: center;">Progress of a game turn</h1>



<h4>step of a turn :</h4>
<div style="text-indent: 15px;">
    <p>1. The spy-master must enter a word (index) and only one, accompanied by a number to indicate to the agents the number of cards to guess with this index.</p>
    <p>2. The agent must try to guess a Code Name. Depending on its choice, the associated case is applied.</p>



</div>





<span class="astuce" style="font-style: italic; color: red;"><strong>Guessing more information brings you closer to victory !</strong></span>
<section style="text-indent: 20px;">

    <article>



        <fieldset>

            <legend>Different cases</legend>

            <h4>Witness tile</h4>
            <p>If the affected card is a Witness, the Code Name will be covered by a tile <span><strong>witness</strong></span> and your turn will end immediately.</p>

            <h4>Assassin tile</h4>
            <p>if the touch tile is<span><strong>Assassin</strong></span>, the code name will be covered by an assassin tile.<span class="die"><strong>End of the game you lost.</strong></span></p>
            <span class="astuce" style="font-style: italic; color: red;"><strong>Before giving a hint, make sure he can not be associated with the Assassin!</strong></span>

            <h4>Allied informant tile</h4>
            <p>if the turn tile is<span><strong>Informant</strong></span> belonging to your team, the Code Name will be covered with a tile <span><strong>Identity</strong></span> the color of your team.</p>
            <p>The trick continues and you can try to guess another Code Name in relation to the received index.</p>

            <h4>enemy informant tile</h4>
            <p>if the touch tile is<span><strong>Informant</strong></span> belonging to the opposing team, the Code Name will be covered with a tile <span><strong>Identity</strong></span> the color of the opposing team.</p>
            <p>Your tour stops immediately.</p>
            <span class="astuce" style="font-style: italic; color: red;"><strong>Beware of the clues you give, it could be that you unintentionally help the opposing team!</strong></span>

            <p>Your turn ends when you guess all the words related to the clue given by your Spy Master, when you make a mistake in Code Name or when you decide to stop.</p>


            <h4>Further information :</h4>
            <div class="info" style="text-indent: 30px;">
                <p>You must always give at least one Code Name during your turn of play!</p>
                <p>If you guess all the words related to the given index, you can designate an additional Code Name in relation to the number given by the Spymaster!</p>
                <p>Your agent may end his turn at any time if he has already found at least one Code Name from your team.</p>

            </div>

        </fieldset>
    </article>

</section>
