<h1 style="text-align: center;">Déroulement d'un tour de jeu</h1>



<h4>Les étapes d'un tour :</h4>
<div style="text-indent: 15px;">
    <p>1. Le maître-espion doit entrer un mot (indice) et un seul, accompagné d'un chiffre pour indiquer aux agents le nombre de cartes à deviner avec cet indice.</p>
    <p>2. Les agents doivent essayer de deviner un Nom de Code. En fonction de leur choix on applique le cas associé.</p>



</div>





<span class="astuce" style="font-style: italic; color: red;"><strong>Faire deviner plusieurs informateurs d'un coup vous rapprochera plus vite de la victoire !</strong></span>
<section style="text-indent: 20px;">

    <article>



        <fieldset>

            <legend>Différents cas possibles</legend>

            <h4>Carte témoin</h4>
            <p>Si la carte touchée est un Témoin, le Nom de Code sera recouvert par une tuile <span><strong>Témoin</strong></span> et votre tour prendra fin immédiatement.</p>

            <h4>Carte Assassin</h4>
            <p>Si la carte touchée est l'<span><strong>Assassin</strong></span>, le Nom de Code sera recouvert par une tuile Assassin. <span class="die"><strong>Fin du jeu, vous et votre équipe avez perdu !</strong></span></p>
            <span class="astuce" style="font-style: italic; color: red;"><strong>Avant de donner un indice, assurez-vous qu'il ne puisse pas être associé à l'Assassin !</strong></span>

            <h4>Carte Informateur allié</h4>
            <p>Si la carte touchée est un <span><strong>Informateur</strong></span> appartenant à votre équipe, le Nom de Code sera recouvert avec une tuile <span><strong>Identité</strong></span> de la couleur de votre équipe.</p>
            <p>Le tour continue et vous pouvez essayer de deviner un autre Nom de Code en rapport avec l'indice reçu.</p>

            <h4>Carte Informateur adverse</h4>
            <p>Si la carte touchée est un <span><strong>Informateur</strong></span> appartenant à l'équipe adverse, le Nom de Code sera recouvert avec une tuile <span><strong>Identité</strong></span> de la couleur de l'équipe adverse.</p>
            <p>Votre tour s'arrête immédiatement.</p>
            <span class="astuce" style="font-style: italic; color: red;"><strong>Attention aux indices que vous donnez, il se pourrait que vous aidiez sans le vouloir l'équipe adverse !</strong></span>

            <p>Votre tour prend fin lorsque vous devinez tous les mots en rapport avec l'indice donné par votre Maître-espion, lorsque vous vous trompez de Nom de Code ou lorsque vous décidez de vous arrêter.</p>


            <h4>Informations complémentaires :</h4>
            <div class="info" style="text-indent: 30px;">
                <p>Vous devez toujours donner au moins un Nom de Code durant votre tour de jeu !</p>
                <p>Si vous devinez tous les mots liés à l'indice donné, vous pouvez désigner un ou plusieurs Noms de Code supplémentaires par rapport au chiffre donné par le Maître-Espion !</p>
                <p>Votre agent peut mettre fin à son tour de jeu à tout moment s'il a déjà trouvé au moins un Nom de Code de votre équipe.</p>

            </div>

        </fieldset>
    </article>

</section>
